.grid {
  display: grid;
  gap: 28px;

  grid-template-areas:
    "card-1 card-2 card-2 card-3 card-3"
    "card-1 card-2 card-2 card-3 card-3"
    "card-1 card-4 card-5 card-6 card-7"
    "card-1 card-8 card-9 card-10 card-10";
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: auto 50%;
}

.card {
  /* Generate styles for card-1 to card-10 */
  @for $i from 1 through 10 {
    &-#{$i} {
      grid-area: card-#{$i};
    }
  }
}

@media (max-width: 960px) {
  .grid {
    grid-template-areas:
      "card-1 card-1 card-1 card-1"
      "card-2 card-2 card-3 card-3"
      "card-4 card-5 card-6 card-7"
      "card-8 card-9 card-10 card-10";
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr 1fr 1fr;
  }
}

